body{
	font-family: 'Kiwi Maru', serif;
	background-image: url(../img/background-full.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f5f5f5;
	margin: 0;
}
header{
	background-color: #384c5c;
	width: 100%;
	opacity: 90%;
}

header .menu-contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 32px;
	margin-right: 32px;

}

header .menu-contenedor a{
	font-size: 16px;
	line-height: 50px;
	padding: 2px 8px;
	color: white;
	text-decoration: none;
}

header .menu-contenedor img{
	width: 67px;
	height: 45px;

}

header a:hover{
	color: purple;
	text-decoration: none;
}

.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.contenedor-form{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 600px;
	background: #ffffff;
	opacity: 90%;
	border: 1px solid #f5f5f5;
	border-radius: 7px;
	box-shadow: 3px 0px 10px 3px black;
	padding: 10px 30px 10px 30px;
}

button{
	width: 200px;
	margin-top: 25px;
}

.contenedor-form div{
	margin-top: 18px;

}

@media screen and (max-width: 480px) {
header {
flex-direction: column;
justify-content: center;
}
header .menu-contenedor {
flex-direction: column;
margin: 0;
text-align: center;
}
header .menu-contenedor a {
margin: 0 0 0 0;
}



header .logo-contenedor {
margin-left: 0;
}



header img{
display: none;
}



.contenedor{
margin-left: 0;
}
}